@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto+Condensed:wght@300&family=Space+Mono&display=swap");

* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 30%;
    background-color: #393E46;
    display: flex;
    flex-direction: row;
}

.block_right {
    display: flex;
    flex-direction: column;
}

.block_left {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.slogan {
    color: #ffffff;
    font-family: "Poppins";
}

.contact {
    color: #ffffff;
    font-family: "Poppins";
    font-weight: 700;
    white-space: nowrap;
}

.email {
    color: #ffffff;
    font-family: "Poppins";
}

.number {
    color: #ffffff;
    font-family: "Poppins";
}

.icons {
    display: flex;
    flex-direction: row;
}

 .fa {
        text-align: center;
        text-decoration: none;
}

 .fa:hover {
        opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
  }

@media (max-width: 400px) {
    .main {
        margin-top: 10px;
    }

    .logo {
        width: 100px;
        height: 20px;
    }

    .block_right {
        gap: 30px;
        margin-top: 50px;
        margin-left: 10px;
    }

    .slogan {
        font-size: 10px;
    }

    .block_left {
        margin-top: 50px;
        margin-right: 20px;
    }

    .contact {
        font-size: 10px;
    }

    .email {
        font-size: 10px; 
    }

    .number {
        font-size: 10px;
    }

    .fa {
        font-size: 20px;
        width: 20px;
        margin-left: 20px;
    }

    .icons {
        margin-left: 10px;
        margin-top: 30px;
    }

}

@media (min-width: 401px) and (max-width: 500px) {

    .main {
        margin-top: 10px;
    }

    .logo {
        width: 100px;
        height: 20px;
    }

    .block_right {
        gap: 30px;
        margin-top: 50px;
        margin-left: 10px;
    }

    .slogan {
        font-size: 10px;
    }

    .block_left {
        margin-top: 50px;
        margin-right: 20px;
    }

    .contact {
        font-size: 13px;
    }

    .fa {
        font-size: 20px;
        width: 30px;
        margin-left: 20px;
    }

    .icons {
        margin-left: 50px;
        margin-top: 10px;
    }

}

@media (min-width:501px) and (max-width: 640px) {

    .main {
        margin-top: 10px;
    }

    .logo {
        width: 100px;
        height: 20px;
    }

    .block_right {
        gap: 30px;
        margin-top: 50px;
        margin-left: 10px;
    }

    .slogan {
        font-size: 12px;
    }

    .block_left {
        margin-top: 50px;
        margin-right: 20px;
    }

    .contact {
        font-size: 13px;
    }

    .fa {
        font-size: 20px;
        width: 30px;
        margin-left: 20px;
    }

    .icons {
        margin-left: 50px;
        margin-top: 10px;
    }

}

@media (min-width:641px) and (max-width: 800px) {

    .main {
        margin-top: 10px;
    }

    .logo {
        width: 150px;
        height: 30px;
    }

    .block_right {
        gap: 20px;
        margin-top: 50px;
        margin-left: 10px;
    }

    .slogan {
        font-size: 15px;
    }

    .block_left {
        margin-top: 50px;
        margin-right: 20px;
    }

    .contact {
        font-size: 13px;
    }

    .fa {
        font-size: 20px;
        width: 30px;
        margin-left: 20px;
    }

    .icons {
        margin-left: 50px;
        margin-top: 10px;
    }

}

@media screen and (min-width: 801px) and (max-width: 1025px) {

    .main {
        margin-top: 10px;
        gap: 350px;
    }

    .logo {
        width: 150px;
        height: 30px;
    }

    .block_right {
        gap: 30px;
        margin-left: 50px;
        margin-top: 50px;
    }

    .slogan {
        font-size: 12px;
    }

    .block_left {
        margin-top: 60px;
        margin-right: 70px;
    }

    .contact {
        font-size: 18px;
    }

    .fa {
        font-size: 25px;
        width: 30px;
        margin-left: 20px;
    }

    .icons {
        margin-left: 50px;
        margin-top: 10px;
    }


}

@media screen and (min-width: 1026px) and (max-width: 1280px) {

    .main {
        margin-top: 10px;
        gap: 550px;
    }

    .logo {
        width: 150px;
        height: 30px;
    }

    .block_right {
        gap: 30px;
        margin-left: 50px;
        margin-top: 50px;
    }

    .slogan {
        font-size: 14px;
    }

    .block_left {
        margin-top: 60px;
        margin-right: 70px;
    }

    .contact {
        font-size: 18px;
    }

    .fa {
        font-size: 25px;
        width: 30px;
        margin-left: 20px;
    }

    .icons {
        margin-left: 50px;
        margin-top: 10px;
    }


}

@media screen and (min-width: 1281px) and (max-width: 1599px) {

    .main {
        margin-top: 10px;
        gap: 550px;
    }

    .logo {
        width: 150px;
        height: 30px;
    }

    .block_right {
        gap: 30px;
        margin-left: 50px;
        margin-top: 50px;
    }

    .slogan {
        font-size: 14px;
    }

    .block_left {
        margin-top: 60px;
        margin-right: 70px;
    }

    .contact {
        font-size: 18px;
    }

    .fa {
        font-size: 25px;
        width: 33px;
        margin-left: 25px;
    }

    .icons {
        margin-left: 50px;
        margin-top: 10px;
    }

}

@media screen and (min-width: 1600px) {

    .main {
        margin-top: 10px;
        gap: 550px;
    }

    .logo {
        width: 180px;
        height: 60px;
    }

    .block_right {
        gap: 30px;
        margin-left: 50px;
        margin-top: 80px;
    }

    .slogan {
        font-size: 20px;
    }

    .block_left {
        margin-top: 100px;
        margin-right: 70px;
    }

    .contact {
        font-size: 25px;
    }

    .fa {
        font-size: 40px;
        width: 45px;
        height: 45px;
        margin-left: 25px;
    }

    .icons {
        margin-left: 80px;
        margin-top: 25px;
    }

}





