<div class="main">
   <div class="block_right">
    <img src="../../../../assets/LOGO WHITE.png" class="logo">
    <p class="slogan">Biz interaktiv dərslərlə abituriyent həyatını asanlaşdıran və onları gələcək üçün hazırlayan startupıq.</p>

   </div>

   <div class="block_left">
    <p class="contact">Bizimlə əlaqə saxlayın</p>
    <p class="email">info@novademy.az</p>
    <p class="number">+994 55 631 62 84</p>
    <div class="icons">
      <a href="https://instagram.com/novademy.az?igshid=MzRlODBiNWFlZA==" class="fa fa-instagram"></a>
      <a href="https://www.facebook.com/novademy.az?mibextid=LQQJ4d" class="fa fa-facebook"></a>
      <a href="https://www.linkedin.com/company/novademy-az/" class="fa fa-linkedin"></a>
    </div>
   </div> 

</div>
