<div class="main">
    <div class="buttons">
        <button class="buttons__groupButton" (click)="clickBuraxilish()" [style.background]="buttonGroup1" [ngStyle]="{'color': (buttonGroup1 === '#E4005C') ? 'white' : 'black'}">Buraxılış</button>
        <button class="buttons__groupButton" (click)="clickFirstGroup()" [style.background]="buttonGroup2" [ngStyle]="{'color': (buttonGroup2 === '#E4005C') ? 'white' : 'black'}">1-ci qrup</button>
        <button class="buttons__groupButton" (click)="clickSecondGroup()" [style.background]="buttonGroup3" [ngStyle]="{'color': (buttonGroup3 === '#E4005C') ? 'white' : 'black'}">2-ci qrup</button>
        <button class="buttons__groupButton" (click)="clickThirdGroup()" [style.background]="buttonGroup4" [ngStyle]="{'color': (buttonGroup4 === '#E4005C') ? 'white' : 'black'}">3-cü qrup</button>
        <button class="buttons__groupButton" (click)="clickFourthGroup()" [style.background]="buttonGroup5" [ngStyle]="{'color': (buttonGroup5 === '#E4005C') ? 'white' : 'black'}">4-cü qrup</button>
    </div>
    <div class="groups">
        <div class="groupsBuraxilish" *ngIf="buraxilish">
            <div class="groupBlock block1">
                <img src="../../../../assets/math teacher.jpeg" alt="701" class="groupBlock__lesson_lessonImg" />
                <p class="groupBlock__lesson_lessonName">Riyaziyyat</p>
                <div class="text">
                    <p class="groupBlock__lesson_video">120 video</p>
                    <p class="groupBlock__lesson_teacher">Rüfət Quliyev</p>
                </div>
            </div>
            <div class="groupBlock block2">
                <img src="../../../../assets/azeri teacher.jpeg" alt="701" class="groupBlock__lesson_lessonImg" />
                <p class="groupBlock__lesson_lessonName">Azərbaycan dili</p>
                <div class="text">
                    <p class="groupBlock__lesson_video">120 video</p>
                    <p class="groupBlock__lesson_teacher">Rüfət Quliyev</p>
                </div>
            </div>
            <div class="groupBlock block3">
                <img src="../../../../assets/english teacher.jpeg" alt="701" class="groupBlock__lesson_lessonImg" />
                <p class="groupBlock__lesson_lessonName">Ingilis dili</p>
                <div class="text">
                    <p class="groupBlock__lesson_video">120 video</p>
                    <p class="groupBlock__lesson_teacher">Rüfət Quliyev</p>
                </div>
            </div>
        </div>

        <div class="groupsFirstGroup" *ngIf="firstGroup">
            <div class="groupBlock block1">
                <img src="../../../../assets/math teacher.jpeg" alt="701" class="groupBlock__lesson_lessonImg" />
                <p class="groupBlock__lesson_lessonName">Riyaziyyat</p>
                <div class="text">
                    <p class="groupBlock__lesson_video">120 video</p>
                    <p class="groupBlock__lesson_teacher">Rüfət Quliyev</p>
                </div>
            </div>
            <div class="groupBlock block2">
                <img src="../../../../assets/physics teacher.jpeg" alt="701" class="groupBlock__lesson_lessonImg" />
                <p class="groupBlock__lesson_lessonName">Fizika</p>
                <div class="text">
                    <p class="groupBlock__lesson_video">120 video</p>
                    <p class="groupBlock__lesson_teacher">Rüfət Quliyev</p>
                </div>
            </div>
            <div class="groupBlock block3">
                <img src="../../../../assets/it teacher.jpeg" alt="701" class="groupBlock__lesson_lessonImg" />
                <p class="groupBlock__lesson_lessonName">Informatika</p>
                <div class="text">
                    <p class="groupBlock__lesson_video">120 video</p>
                    <p class="groupBlock__lesson_teacher">Rüfət Quliyev</p>
                </div>
            </div>
        </div>

        <div class="groupsSecondGroup" *ngIf="secondGroup">
            <div class="groupBlock block1">
                <img src="../../../../assets/math teacher.jpeg" alt="701" class="groupBlock__lesson_lessonImg" />
                <p class="groupBlock__lesson_lessonName">Riyaziyyat</p>
                <div class="text">
                    <p class="groupBlock__lesson_video">120 video</p>
                    <p class="groupBlock__lesson_teacher">Rüfət Quliyev</p>
                </div>
            </div>
            <div class="groupBlock block2">
                <img src="../../../../assets/geography teacher.jpeg" alt="701" class="groupBlock__lesson_lessonImg" />
                <p class="groupBlock__lesson_lessonName">Coğrafiya</p>
                <div class="text">
                    <p class="groupBlock__lesson_video">120 video</p>
                    <p class="groupBlock__lesson_teacher">Rüfət Quliyev</p>
                </div>
            </div>
            <div class="groupBlock block3">
                <img src="../../../../assets/history teacher.jpeg" alt="701" class="groupBlock__lesson_lessonImg" />
                <p class="groupBlock__lesson_lessonName">Tarix</p>
                <div class="text">
                    <p class="groupBlock__lesson_video">120 video</p>
                    <p class="groupBlock__lesson_teacher">Rüfət Quliyev</p>
                </div>
            </div>
        </div>

        <div class="groupsThirdGroup" *ngIf="thirdGroup">
            <div class="groupBlock block1">
                <img src="../../../../assets/azeri teacher.jpeg" alt="701" class="groupBlock__lesson_lessonImg" />
                <p class="groupBlock__lesson_lessonName">Azərbaycan dili</p>
                <div class="text">
                    <p class="groupBlock__lesson_video">120 video</p>
                    <p class="groupBlock__lesson_teacher">Rüfət Quliyev</p>
                </div>
            </div>
            <div class="groupBlock block2">
                <img src="../../../../assets/history teacher.jpeg" alt="701" class="groupBlock__lesson_lessonImg" />
                <p class="groupBlock__lesson_lessonName">Tarix</p>
                <div class="text">
                    <p class="groupBlock__lesson_video">120 video</p>
                    <p class="groupBlock__lesson_teacher">Rüfət Quliyev</p>
                </div>
            </div>
            <div class="groupBlock block3">
                <img src="../../../../assets/literature teacher.jpeg" alt="701" class="groupBlock__lesson_lessonImg" />
                <p class="groupBlock__lesson_lessonName">Ədəbiyyat</p>
                <div class="text">
                    <p class="groupBlock__lesson_video">120 video</p>
                    <p class="groupBlock__lesson_teacher">Rüfət Quliyev</p>
                </div>
            </div>
        </div>

        <div class="groupsFourthGroup" *ngIf="fourthGroup">
            <div class="groupBlock block1">
                <img src="../../../../assets/biology teacher.jpeg" alt="701" class="groupBlock__lesson_lessonImg" />
                <p class="groupBlock__lesson_lessonName">Biologiya</p>
                <div class="text">
                    <p class="groupBlock__lesson_video">120 video</p>
                    <p class="groupBlock__lesson_teacher">Rüfət Quliyev</p>
                </div>
            </div>
            <div class="groupBlock block2">
                <img src="../../../../assets/chemistry teacher.jpeg" alt="701" class="groupBlock__lesson_lessonImg" />
                <p class="groupBlock__lesson_lessonName">Kimya</p>
                <div class="text">
                    <p class="groupBlock__lesson_video">120 video</p>
                    <p class="groupBlock__lesson_teacher">Rüfət Quliyev</p>
                </div>
            </div>
            <div class="groupBlock block3">
                <img src="../../../../assets/physics teacher.jpeg" alt="701" class="groupBlock__lesson_lessonImg" />
                <p class="groupBlock__lesson_lessonName">Fizika</p>
                <div class="text">
                    <p class="groupBlock__lesson_video">120 video</p>
                    <p class="groupBlock__lesson_teacher">Rüfət Quliyev</p>
                </div>
            </div>
        </div>

    </div>
    
</div>
