<div class="main">
    <div class="text__block">
        <p class="text_main" style="font-weight: bold;">Niyə novademy? <br> </p>
        <p class="text_subtitle" style="color: #969696;">novademy sizə bir çox yeniliklər təklif edir.</p>
    </div>

    <div class="blocks">
        <div class="block block1">
            <p class="block__text_block">Peşəkar müəllimlər</p>
        </div>

        <div class="block block2">
            <p class="block__text_block">Yaradıcı və əyləncəli <br> dərslər</p>
        </div>

        <div class="block block3">
            <p class="block__text_block">Süni Zəka inteqrasiyası</p>
        </div>
    </div>
</div>
