<div class="main">
    <div class="titleBlock">
        <p class="title"> <b>Niyə</b> novademy?</p>
        <p class="subtitle"><b>novademy</b> sizə bir çox yeniliklər təklif edir.</p>
    </div>

    <div class="blocks">  
        <div class="block block1">
            <img src="../../../../assets/1.jpeg" class="image">
            <div class="text">
            <p class="blockTitle">Maraqlı və yaradıcı dərslər</p>
            <p class="blockSubtitle">Lövhələri və markerləri unut. Bütün mövzular hekayə izahı ilə
                izah olunur və qrafik animasiyalarla müşayiət olunur.</p>
            </div>
        </div>

        <div class="block block2">
            <img src="../../../../assets/2.jpeg" class="image">
            <div class="text">
            <p class="blockTitle">Peşəkar müəllimlər</p>
            <p class="blockSubtitle">Artıq tanıdığınız peşəkar repetitorlar
                <b>novademy</b>-nin ən önəmli hissələrindən biridir.</p>
            </div>
        </div>

        <div class="block block3">
            <img src="../../../../assets/3.jpg" class="image">
            <div class="text">
            <p class="blockTitle">Büdcənizə qənaət</p>
            <p class="blockSubtitle">Novademy ilə müəllim yanına getmək ilə
                müqayisədə minimum <b>60%</b> qənaət edirsiniz.</p>
            </div>
        </div>
    </div>  
</div>