@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto+Condensed:wght@300&family=Space+Mono&display=swap");

* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
}

.block {
    background: #FFF;
    box-shadow: 0px 12px 64px 0px rgba(204, 204, 204, 0.75);
    display: flex;
    flex-direction: row ;
}


.title {
    font-family: "Poppins";
    color: #141E32;
}

.subtitle {
    font-family: "Poppins";
    color: #969696;
}

.blockTitle {
    color: #000;
    font-family: "Poppins";
    font-weight: 700;
}

.blockSubtitle {
    color: #969696;
    font-family: "Poppins";
}

.blocks {
    display: flex;
    flex-direction: column;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleBlock {
    display: flex;
    flex-direction: column;
}

@media (max-width: 400px) {

    .main {
        margin-top: 50px;
    }

    .title {
        font-size: 18px;
    }

    .subtitle {
        font-size: 13px;
    }

    .image {
        width: 90px;
        height: 60px;
    }

    .block {
        height: 60px;
        width: 85%;
        border-radius: 13px;
    }

    .blocks {
        gap: 30px;
        margin-top: 20px;
        display: flex;
        align-items: center;
    }

    .titleBlock {
        margin-left: 10px;
    }

    .blockSubtitle {
        font-size: 8px;
        display: none;
    }

    .blockTitle {
        font-size: 10px;
        height: 10px;
        white-space: nowrap;
    }

    .text {
        margin-left: 5px;
        display: flex;
        align-items: center;
    }

}

@media (min-width: 401px) and (max-width: 500px) {

    .main {
        margin-top: 50px;
    }

    .title {
        font-size: 23px;
    }

    .image {
        width: 120px;
        height: 80px;
    }

    .block {
        height: 80px;
        width: 90%;
        border-radius: 13px;
    }

    .blocks {
        gap: 30px;
        margin-top: 20px;
        display: flex;
        align-items: center;
    }

    .titleBlock {
        margin-left: 10px;
    }

    .blockSubtitle {
        font-size: 10px;
        display: none;
    }

    .blockTitle {
        font-size: 15px;
        height: 10px;
    }

    .text {
        margin-left: 10px;
        display: flex;
        align-items: center;
    }

}

@media (min-width:501px) and (max-width: 640px) {

    .main {
        margin-top: 50px;
    }

    .title {
        font-size: 27px;
    }

    .image {
        width: 130px;
        height: 90px;
    }

    .block {
        height: 90px;
        width: 90%;
        border-radius: 13px;
    }

    .blocks {
        gap: 30px;
        margin-top: 20px;
        display: flex;
        align-items: center;
    }

    .titleBlock {
        margin-left: 10px;
    }

    .blockSubtitle {
        font-size: 10px;
        display: none;
    }

    .blockTitle {
        font-size: 20px;
        height: 10px;
    }

    .text {
        margin-left: 10px;
        display: flex;
        align-items: center;
    }


}

@media (min-width:641px) and (max-width: 800px) {

    .main {
        margin-top: 70px;
    }

    .title {
        font-size: 30px;
    }

    .subtitle {
        font-size: 18px;
    }

    .image {
        width: 150px;
        height: 100px;
    }

    .block {
        height: 100px;
        width: 90%;
        border-radius: 13px;
    }

    .blocks {
        gap: 30px;
        margin-top: 30px;
        display: flex;
        align-items: center;
    }

    .titleBlock {
        margin-left: 30px;
    }

    .blockSubtitle {
        font-size: 10px;
        display: none;
    }

    .blockTitle {
        font-size: 25px;
        height: 10px;
    }

    .text {
        margin-left: 10px;
        display: flex;
        align-items: center;
    }

}


@media screen and (min-width: 801px) and (max-width: 1025px) {

    .main {
        margin-top: 70px;
        margin-left: 80px;
        gap: 15px;
    }

    .title {
        font-size: 25px;
    }

    .subtitle {
        font-size: 15px;
    }

    .titleBlock {
        gap: 10%;
    }

    .block {
        height: 120px;
        width: 85%;
        border-radius: 20px;
    }

    .blocks {
        gap: 30px;
    }

    .image {
        height: 120px;
    }

    .text {
        margin-left: 10px;
        margin-top: 20px;
    }

    .blockTitle {
        font-size: 20px;
    }

}

@media screen and (min-width: 1026px) and (max-width: 1280px) {

    .main {
        margin-top: 70px;
        margin-left: 80px;
        gap: 15px;
    }

    .title {
        font-size: 30px;
    }

    .subtitle {
        font-size: 15px;
    }

    .titleBlock {
        gap: 10%;
    }

    .block {
        height: 120px;
        width: 85%;
        border-radius: 20px;
    }

    .blocks {
        gap: 30px;
    }

    .image {
        height: 120px;
    }

    .text {
        margin-left: 10px;
        margin-top: 20px;
    }

    .blockTitle {
        font-size: 22px;
    }

}

@media screen and (min-width: 1281px) and (max-width: 1599px) {

    .main {
        margin-top: 70px;
        margin-left: 200px;
        gap: 20px;
    }

    .title {
        font-size: 35px;
    }

    .subtitle {
        font-size: 15px;
    }

    .titleBlock {
        gap: 15%;
    }

    .block {
        height: 130px;
        width: 85%;
        border-radius: 20px;
    }

    .blocks {
        gap: 30px;
    }

    .image {
        height: 130px;
    }

    .text {
        margin-left: 30px;
        margin-top: 20px;
    }

    .blockTitle {
        font-size: 22px;
    }

    .blockSubtitle {
        font-size: 15px;
        width: 500px;
    }

}

@media screen and (min-width: 1600px) {

    .main {
        margin-top: 70px;
        margin-left: 200px;
        gap: 40px;
    }

    .title {
        font-size: 40px;
    }

    .subtitle {
        font-size: 20px;
    }

    .titleBlock {
        gap: 20%;
    }

    .block {
        height: 120px;
        width: 85%;
        border-radius: 20px;
    }

    .blocks {
        gap: 30px;
    }

    .image {
        height: 120px;
    }

    .text {
        margin-left: 30px;
        margin-top: 20px;
    }

    .blockTitle {
        font-size: 22px;
    }

    .blockSubtitle {
        font-size: 15px;
    }

}