<div class="main">
    <div class="header">
      <img src="../../../assets/novademy logo FINAL (white).png" alt="701" class="header__logo" />
      <div class="buttons">
        <button  routerLink="login" type="button" class="header__button header__button__login">Giriş</button>
        <button  routerLink="sign-up" type="button" class="header__button header__button__signup">Qeydiyyat</button>
        <!-- <button   routerLink="home" type="button" class="header__button header__button__signup">Şəxsi kabinet</button> -->
      </div>
    </div>
    <div class="content">
      <div class="content__elements">
        <img src="../../../assets/girl_landing_page.png" alt="firstBlock__image" class="content__image">
          <div class="content__elements_text">
            <p class="content__text_slogan">Abituriyent həyatını bizimlə asanlaşdır</p>
            <p class="content__text_subtitle">
              701 ilə imtahanlara əyləncəli və sərfəli dərslərlə hazırlaşın, stereotipləri bizimlə qırın!
            </p>
            <button type="button" class="header__button content__button__freetrial">Ödənişsiz sınaq</button>  
         </div>
      </div>
    </div>
  </div>
