<div class="main">
    <div class="header">
      <img src="../../../assets/novademy logo FINAL (white).png" alt="701" class="header__logo" />
      <div class="buttons">
        <button  routerLink="login" type="button" class="header__button header__button__login">Giriş</button>
        <button  routerLink="sign-up" type="button" class="header__button header__button__signup">Qeydiyyat</button>
        <!-- <button   routerLink="home" type="button" class="header__button header__button__signup">Şəxsi kabinet</button> -->
      </div>
    </div>
    <div class="content">
      <div class="content__text">
          <p class="content__text_slogan">Abituriyent həyatını bizimlə asanlaşdır</p>
          <button type="button" class="content__button__freetrial">Odənişsiz sınaq</button>  
          
      </div>
      <div class="content__image">
        <img src="../../../assets/girl_landing_page.png" alt="firstBlock__image" class="content__image_image">
      </div>
    </div>
  </div>