<div class="main">
  <div class="header">
    <img src="../../../../assets/LOGO WHITE.png" class="logo">
    <div class="buttons">
      <button type="button" class="header__button header__button__login">Giriş</button>
      <button type="button" class="header__button header__button__signup">Qeydiyyat</button>
    </div>
  </div>

  <div class="content">

    <div class="content_text">
      <p class="slogan">Abituriyent həyatını <br> bizimlə asanlaşdır</p>
      <button class="content_button">Ödənişsiz sınaq</button>
    </div>

    <div class="content_image">
      <img src="../../../../assets/girl final.png" class="content_image">
    </div>

  </div>
</div>