<div class="main">
    <div class="title" style="font-weight: bold;">Qiymətlər</div>

    <div class="blocks">
        <div class="block block1">
            <div class="block_content">
                <p class="price">250 AZN</p>
                <p class="packet_name">1 fənn</p>
                <div class="block_list">
                    <li>Ana dili</li>
                    <li>İngilis dili</li>
                    <li>Riyaziyyat</li>
                    <li>profil fənni</li>
                    <button class="price_button button1">Sınaq dərsi izlə</button>
                </div>
            </div>

        </div>

        <div class="block block2">
            <div class="subBlock">
                <p>ƏN SƏRFƏLİ!</p>
            </div>
            <div class="block_content">
                <p class="price">1000 AZN</p>
                <p class="savings">-20%</p>
                <p class="packet_name">Qəbul paketi</p>
                <div class="block_list">
                    <li>Buraxılış</li>
                    <li>1-ci qrup</li>
                    <li>2-ci qrup</li>
                    <li>3-cü qrup</li>
                    <li>4-cü qrup</li>
                    <button class="price_button button2">Sınaq dərsi izlə</button>
                </div>
            </div>

        </div>

        <div class="block block3">
            <div class="block_content">
                <p class="price">650 AZN</p>
                <p class="savings">-13%</p>
                <p class="packet_name">Buraxılış paketi</p>
                <div class="block_list">
                    <li>Ana dili</li>
                    <li>İngilis dili</li>
                    <li>Riyaziyyat</li>
                    <button class="price_button button3">Sınaq dərsi izlə</button>
                </div>
            </div>

        </div>

    </div>
</div>
