@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto+Condensed:wght@300&family=Space+Mono&display=swap");

* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blocks {
    display: flex;
    flex-direction: row;
}

.title {
    font-family: "Poppins";
}

.block {
    background: #FFFFFF;
    box-shadow: 0px 12px 64px #CCCCCC;
    border-radius: 16px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .price {
    font-weight: bold;
    font-family: "Poppins";
  }

  .packet_name {
    color: #ADADAD;
    font-family: "Poppins";
    font-weight: 600;
  }

  .block_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .savings {
    border-radius: 10px;
    background-color: #E4005C;
    color: #FFFFFF;
    font-family: "Poppins";
  }

  .price_button {
    color: #FFFFFF;
    background-color: #E4005C;
    border: transparent;
    font-family: "Inter";
    border-radius: 7px;
    white-space: nowrap;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
  }

  .block_list {
    font-family: "Poppins";
  }

  .subBlock {
    background-color: #E4005C;
    border-radius: 10px;
    font-family: "Poppins";
    font-weight: 600;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
  }

  @media (max-width: 400px) {

    .main {
        margin-top: 30px;
        gap: 30px;
    }

    .title {
        font-size: 25px;
    }

    .blocks {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .block {
        width: 180px;
        height: 280px;
    }

    .price {
        font-size: 18px;
    }

    .block_content {
        margin-top: 10px;
    }

    .packet_name {
        font-size: 15px;
    }

    .savings {
        width: 45px;
        height: 20px;
        font-size: 13px;
        text-align: center;
        font-weight: 500;
    }

    .subBlock {
        width: 100px;
        height: 20px;
        font-size: 12px;
        margin-top: -3%;
    }

    li {
        margin-bottom: 5px;
    }


    .price_button {
        height: 20px;
        width: 100px;
        font-size: 12px;
        border-radius: 5px;
    }

    .button1 {
        margin-top: 60px;
    }

    .button2 {
        margin-top: 5px;
    }


    .button3 {
        margin-top: 60px;
    }
  }

  @media (min-width: 401px) and (max-width: 500px) {

    .main {
        margin-top: 30px;
        gap: 30px;
    }

    .title {
        font-size: 25px;
    }

    .blocks {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .block {
        width: 180px;
        height: 300px;
    }

    .price {
        font-size: 20px;
    }

    .block_content {
        margin-top: 15px;
    }

    .packet_name {
        font-size: 15px;
    }

    .savings {
        width: 45px;
        height: 20px;
        font-size: 13px;
        text-align: center;
        font-weight: 500;
    }

    .subBlock {
        width: 100px;
        height: 20px;
        font-size: 12px;
        margin-top: -3%;
    }

    li {
        margin-bottom: 5px;
    }


    .price_button {
        height: 20px;
        width: 100px;
        font-size: 12px;
        border-radius: 5px;
    }

    .button1 {
        margin-top: 80px;
    }

    .button2 {
        margin-top: 10px;
    }


    .button3 {
        margin-top: 80px;
    }



  }

  @media (min-width:501px) and (max-width: 640px) {

    .main {
        margin-top: 30px;
        gap: 30px;
    }

    .title {
        font-size: 25px;
    }

    .blocks {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .block {
        width: 180px;
        height: 300px;
    }

    .price {
        font-size: 20px;
    }

    .block_content {
        margin-top: 15px;
    }

    .packet_name {
        font-size: 15px;
    }

    .savings {
        width: 45px;
        height: 20px;
        font-size: 13px;
        text-align: center;
        font-weight: 500;
    }

    .subBlock {
        width: 100px;
        height: 20px;
        font-size: 12px;
        margin-top: -3%;
    }

    li {
        margin-bottom: 5px;
    }


    .price_button {
        height: 20px;
        width: 100px;
        font-size: 12px;
        border-radius: 5px;
    }

    .button1 {
        margin-top: 80px;
    }

    .button2 {
        margin-top: 10px;
    }


    .button3 {
        margin-top: 80px;
    }

  }

  @media (min-width:641px) and (max-width: 800px) {

    .main {
        margin-top: 40px;
        gap: 30px;
    }

    .title {
        font-size: 30px;
    }

    .blocks {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .block {
        width: 200px;
        height: 320px;
    }

    .price {
        font-size: 25px;
    }

    .block_content {
        margin-top: 20px;
    }

    .packet_name {
        font-size: 17px;
    }

    .savings {
        width: 45px;
        height: 20px;
        font-size: 13px;
        text-align: center;
        font-weight: 500;
    }

    .subBlock {
        width: 100px;
        height: 20px;
        font-size: 12px;
        margin-top: -3%;
    }

    li {
        margin-bottom: 5px;
    }


    .price_button {
        height: 30px;
        width: 120px;
        font-size: 15px;
        border-radius: 5px;
    }

    .button1 {
        margin-top: 85px;
    }

    .button2 {
        margin-top: 15px;
    }


    .button3 {
        margin-top: 85px;
    }

  }



@media screen and (min-width: 801px) and (max-width: 1025px) {

    .main {
        margin-top: 50px;
        gap: 50px;
    }


    .title {
        font-size: 30px;
    }

    .blocks {
        gap: 50px;
    }

    .block {
        width: 220px;
        height: 420px;
    }

    .price {
        font-size: 25px;
    }

    .block_content {
        margin-top: 30px;
    }

    .savings {
        width: 50px;
        text-align: center;
        font-weight: 600;
        font-size: 10px;
    }


    .price_button {
        margin-top: 30px;
        width: 100px;
        height: 30px;
    }

    .block_list {
        margin-top: 50px;
    }

    .button1 {
        margin-top: 80px;
    }

    .button2 {
        margin-top: 20px;
    }

    .button3 {
        margin-top: 80px;
    }

    li {
        margin-bottom: 10px;
    }

    .subBlock {
        height: 20px;
        width: 120px;
        font-size: 12px;
        margin-top: -3%;
    }


}

@media screen and (min-width: 1026px) and (max-width: 1280px) {
    .main {
        margin-top: 100px;
        gap: 70px;
    }


    .title {
        font-size: 40px;
    }

    .blocks {
        gap: 60px;
    }

    .block {
        width: 250px;
        height: 450px;
    }

    .price {
        font-size: 30px;
    }

    .block_content {
        margin-top: 35px;
    }

    .savings {
        width: 55px;
        text-align: center;
        font-weight: 600;
        font-size: 12px;
    }

    .price_button {
        margin-top: 30px;
        width: 130px;
        height: 40px;
        font-size: 15px;
        font-weight: 550;
    }

    .block_list {
        margin-top: 60px;
        font-size: 17px;
    }

    .button1 {
        margin-top: 100px;
    }

    .button2 {
        margin-top: 20px;
    }

    .button3 {
        margin-top: 90px;
    }

    .packet_name {
        font-size: 17px;
    }

    li {
        margin-bottom: 10px;
    }

    .subBlock {
        height: 23px;
        width: 120px;
        font-size: 12px;
        margin-top: -2%;
    }


}

@media screen and (min-width: 1281px) and (max-width: 1599px) {

    .main {
        gap: 80px;
        margin-top: 100px;
    }


    .title {
        font-size: 40px;
    }

    .blocks {
        gap: 60px;
    }

    .block {
        width: 280px;
        height: 550px;
    }

    .price {
        font-size: 35px;
    }

    .block_content {
        margin-top: 35px;
    }

    .savings {
        width: 55px;
        text-align: center;
        font-weight: 600;
        font-size: 12px;
    }


    .price_button {
        margin-top: 30px;
        width: 130px;
        height: 40px;
        font-size: 15px;
        font-weight: 550;
    }

    .block_list {
        margin-top: 60px;
        font-size: 17px;
    }

    .button1 {
        margin-top: 160px;
    }

    .button2 {
        margin-top: 75px;
    }

    .button3 {
        margin-top: 160px;
    }

    .packet_name {
        font-size: 17px;
    }

    li {
        margin-bottom: 20px;
    }

    .subBlock {
        height: 23px;
        width: 125px;
        font-size: 13px;
        margin-top: -3%;
    }


}
@media screen and (min-width: 1600px) {

    .main {
        gap: 90px;
        margin-top: 150px;
    }


    .title {
        font-size: 50px;
    }

    .blocks {
        gap: 60px;
    }

    .block {
        width: 280px;
        height: 500px;
    }

    .price {
        font-size: 35px;
    }

    .block_content {
        margin-top: 40px;
    }

    .savings {
        width: 55px;
        text-align: center;
        font-weight: 600;
        font-size: 12px;
    }


    .price_button {
        margin-top: 30px;
        width: 130px;
        height: 40px;
        font-size: 15px;
        font-weight: 550;
    }

    .block_list {
        margin-top: 60px;
        font-size: 17px;
    }

    .button1 {
        margin-top: 100px;
    }

    .button2 {
        margin-top: 20px;
    }

    .button3 {
        margin-top: 110px;
    }

    .packet_name {
        font-size: 17px;
    }

    li {
        margin-bottom: 20px;
    }

    .subBlock {
        height: 25px;
        width: 130px;
        font-size: 13px;
        margin-top: -4%;
    }

}