<div class="main">
    <div class="titleBlock">
        <p class="title">Suallar və Cavablar</p>
    </div>

    <div class="FAQ">
        <div class="questionBlock">
            <div class="questionIcon">
            <p class="question" >"novademy" nədir və tələbələrin imtahana hazırlaşmasına necə kömək edir?</p>
            <mat-icon class="icon" (click)="clickAnswer1()">keyboard_arrow_down</mat-icon>
            </div>
            <p class="answer" *ngIf="answer1">novademy, abituriyentlərə tez, rahat və aşağı büdcəli öz yollarını seçməyə və qəbul üçün hazırlaşmağa imkan verən bir platformadır</p>
            <hr>
        </div>

        <div class="questionBlock">
            <div class="questionIcon">
            <p class="question">"novademy" hansı imtahanları əhatə edir və hansı fənlər mövcuddur?</p>
            <mat-icon class="icon" (click)="clickAnswer2()">keyboard_arrow_down</mat-icon>
            </div>
            <p class="answer" *ngIf="answer2">novademy-də buraxılış imtahanında və hər hansı bir qrup üçün qəbul imtahanında tələb olunan bütün fənlər mövcuddur</p>
            <hr>
        </div>

        <div class="questionBlock">
            <div class="questionIcon">
            <p class="question">"novademy" ödənişlərini necə edə bilərəm və təhlükəsizdirmi?</p> 
            <mat-icon class="icon" (click)="clickAnswer3()">keyboard_arrow_down</mat-icon>
            </div>
            <p class="answer" *ngIf="answer3">Hal hazırda ödəniş M10 vasitəsilə həyata keçirilir. Yaxın gələcəkdə daha rahat ödəniş üsullarının əlavə <br> edilməsi planlaşdırılır.</p> 
            <hr>        
        </div>

        <!-- <div class="questionBlock">
            <div class="questionIcon">
            <p class="question">Bir neçə fənn alana endirim varmı?</p>
            <mat-icon class="icon" (click)="clickAnswer4()">keyboard_arrow_down</mat-icon>
            </div>
            <p class="answer" *ngIf="answer4">Bəli, "Buraxılış paketi" və "Qəbul paketi" paketləri alanlara 13-20 faiz endirim nəzərdə tutulur. <br> Qiymətlərlə bağlı daha ətraflı məlumatı buradan əldə edə bilərsiniz</p>
            <hr>
        </div> -->

    </div>
</div>
