@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto+Condensed:wght@300&family=Space+Mono&display=swap");

* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background-color: #EAEAEA;
}

.titleBlock {
    display: flex;
    justify-content: center;
}

.title {
    font-weight: bold;
    font-family: "Poppins";
}

.FAQ {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question {
    font-family: "Poppins";
}


.answer {
    font-family: "Poppins";
    align-items: center;
    text-align: center;
}

hr {
    background-color: #706F6F;
}

.questionIcon {
    display: flex;
    flex-direction: row;
}

.icon {
    color: #FFFFFF;
    display: flex;
    border-radius: 50%;
    background-color: #E4005C;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 400px) {

    .main {
        margin-top: 30px;
    }

    .title {
        font-size: 20px;
        margin-top: 20px;
    }

    .FAQ {
        margin-top: 20px;
        gap: 20px;
    }

    .question {
        font-size: 13px;
        font-weight: 500;
        text-align: center;
    }

    .answer {
        font-size: 11px;
    }

    .questionBlock {
        margin-bottom: 20px;
    }

    hr {
        width: 100%;
    }

    .icon {
        height: 20px;
        width: 20px;
        margin-left: 5px;
    }

}

@media (min-width: 401px) and (max-width: 500px) {

    .main {
        margin-top: 30px;
    }

    .title {
        font-size: 20px;
        margin-top: 20px;
    }

    .FAQ {
        margin-top: 20px;
        gap: 20px;
    }

    .question {
        font-size: 13px;
        font-weight: 500;
        text-align: center;
    }

    .answer {
        font-size: 11px;
    }

    .questionBlock {
        margin-bottom: 20px;
    }

    hr {
        width: 100%;
    }

    .icon {
        height: 20px;
        width: 20px;
        margin-left: 10px;
    }



}

@media (min-width:501px) and (max-width: 640px) {

    .main {
        margin-top: 30px;
    }

    .title {
        font-size: 22px;
        margin-top: 20px;
    }

    .FAQ {
        margin-top: 20px;
        gap: 20px;
    }

    .question {
        font-size: 15px;
        font-weight: 500;
        text-align: center;
    }

    .answer {
        font-size: 13px;
    }

    .questionBlock {
        margin-bottom: 20px;
    }

    hr {
        width: 100%;
    }

    .icon {
        height: 20px;
        width: 20px;
        margin-left: 10px;
    }

}

@media (min-width:641px) and (max-width: 800px) {

    .main {
        margin-top: 30px;
    }

    .title {
        font-size: 24px;
        margin-top: 20px;
    }

    .FAQ {
        margin-top: 20px;
        gap: 20px;
    }

    .question {
        font-size: 17px;
        font-weight: 500;
        text-align: center;
    }

    .answer {
        font-size: 15px;
    }

    .questionBlock {
        margin-bottom: 20px;
    }

    hr {
        width: 100%;
    }

    .icon {
        height: 20px;
        width: 20px;
        margin-left: 10px;
    }

}

@media screen and (min-width: 801px) and (max-width: 1025px) {

    .main {
        margin-top: 65px;
    }

    .title {
        font-size: 30px;
        margin-top: 20px;
    }

    .FAQ {
        margin-top: 20px;
        gap: 20px;
    }

    .question {
        font-size: 20px;
        font-weight: 500;
    }

    .answer {
        font-size: 15px;
    }

    .questionBlock {
        margin-bottom: 20px;
    }

    hr {
        width: 800px;
    }

    .icon {
        height: 20px;
        width: 20px;
        margin-left: 10px;
    }



}

@media screen and (min-width: 1026px) and (max-width: 1280px) {

    .main {
        margin-top: 65px;
    }

    .title {
        font-size: 30px;
        margin-top: 40px;
    }

    .FAQ {
        margin-top: 25px;
        gap: 40px;
    }

    .question {
        font-size: 23px;
        font-weight: 500;
    }

    .answer {
        font-size: 15px;
    }

    .questionBlock {
        margin-bottom: 20px;
    }

    hr {
        width: 900px;
    }

    .icon {
        height: 25px;
        width: 25px;
        margin-left: 10px;
    }


}

@media screen and (min-width: 1281px) and (max-width: 1599px) {

    .main {
        margin-top: 65px;
    }

    .title {
        font-size: 35px;
        margin-top: 40px;
    }

    .FAQ {
        margin-top: 30px;
        gap: 50px;
    }

    .question {
        font-size: 23px;
        font-weight: 500;
    }

    .answer {
        font-size: 17px;
    }

    .questionBlock {
        margin-bottom: 20px;
    }

    hr {
        width: 1000px;
    }

    .icon {
        height: 25px;
        width: 25px;
        margin-left: 10px;
    }

}

@media screen and (min-width: 1600px) {

    .main {
        margin-top: 65px;
    }

    .title {
        font-size: 38px;
        margin-top: 42px;
    }

    .FAQ {
        margin-top: 35px;
        gap: 50px;
    }

    .question {
        font-size: 25px;
        font-weight: 500;
    }

    .answer {
        font-size: 17px;
    }

    .questionBlock {
        margin-bottom: 25px;
    }

    hr {
        width: 1000px;
    }

    .icon {
        height: 30px;
        width: 30px;
        margin-left: 10px;
    }
}